body{
    font-family: 'Noto Sans TC',sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0px 0px 20px gray;
    position: sticky;
    top: 0;
    z-index: 5;
    transition: all 0.4s;
    .header_nav{
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
            padding-right: 16px;
            padding-left: 16px;
            a{
                text-decoration: none;
                width: 100%;
                font-weight: 550;
                color: $primary;
                font-size: 1.35rem;
            }
            a:hover{
                position: relative;
                top: -5px;
            }
        }
    }
    @media (max-width:920px) {
        flex-direction: column;
        h1{    
            width: 100%;
            justify-content: center;
        }
        .header_nav{
            width: 100%;
            justify-content: space-around;
            margin: 16px 0;
        }

    }
    @media (max-width:576px) {
        .header_nav{
            flex-direction: column;
            align-items: center;
            li{
                margin: 12px 0;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }

    }
}
.in_main{
    h2{
        margin: 20px auto;
        text-align: center;
        line-height: 1.5;
        span{
            color: $primary-variant;
        }
    }
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightgray;
    min-height: 40vh;
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }
    .footer_nav{
        font-size: 1.5rem;
        width: 45%;
        justify-content: space-around;
        li{
            flex:25%;
            margin: 0.5rem 0;
            a{
                display: block;
                width: 100%;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                &:hover{
                    transform: scale(1.2);
                }
             } 
        }
    }
    .logo_items{
        li{
            padding-right: 16px;
            padding-left:  16px;
            width: 60px;
            height: 60px;
            a{
                img{
                    width: 100%;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
                
            }
        }
    }
    @media (max-width:768px) {
        .footer_nav{
            font-size: 1.25rem;
            justify-content: center;
            li{
                flex:50%;
                margin: 16px 0;
            }
        }
        .logo_items{
            li{
                width: 40px;
                height: 40px;
                a{
                    img{
                        width: 100%;
                        
                    }
                    
                }
            }
        }
    }
}
